# Created by .ignore support plugin (hsz.mobi)
.idea
node_modules
bower_components
.tmp
/dist
/assets/css
/assets/images
/assets/scripts
/source/sass/_components.scss
/source/sass/_libs.scss
/source/sass/_modules.scss
.sass-cache