# Created by .ignore support plugin (hsz.mobi)
.idea
node_modules
bower_components
.tmp
/dist
/assets/css
/assets/images
/assets/scripts
/source/sass/_libs.scss
/source/sass/_modules.scss
/source/sass/_components.scss
/source/sass/_views.scss
/source/sass/libs/sprite.scss
/source/sass/libs/_sprite.scss
.sass-cache
.ftppass
Gruntconfig.js