/*------------------------------------*\
    Styles for: _example.scss
    Created: 10/09/15
    By: Murillo Camargo <murillocamargo@estudiotouch.com>
\*------------------------------------*/

/**
 * This is a dummy file to mantain folder structure on GIT
 */